/* Organization: 
 * Outside of brace: in order of what is seen on the page from top to bottom
 * Inside of brace: alphabetical order */

body {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: lighter;
    text-align: center;
}

.title {
    font-size: 45px;
    font-weight: 200;
    margin-top: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 3%;
}

h6 {
    font-weight: lighter;
    margin-top: 5px;
}

#input {
    margin-bottom: 20px;
}

div {
    border: 0.5px solid black;
    cursor: pointer;
    font-size: 15px;
    margin-left: 40%;
    margin-top: 20px;
    padding: 5px;
    width: 20%;
}

div:hover {
    background-color: black;
    color: white;
}

.lastButton {
    margin-bottom: 40px;
}

.moreOption {
    font-size: 17.5px;
}

#output {
    font-size: 15px;
    margin-top: 40px;
}